<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Timetable</title>
    <style>
	body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            text-align: center;
        }
	h2 {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Mini Project of Feruza Abdumannobova</h1>
    <h2>University Timetable</h2>

    <!-- Form for selecting classification -->
    <form action="/timetable" method="GET">
       <label for="classification">Select your classification:</label>
       <select name="classification" id="classification">
           <option value="Freshmen">Freshmen</option>
           <option value="Sophomore">Sophomore</option>
           <option value="Junior">Junior</option>
       </select>
       <button type="submit">Submit</button>
    </form>
</body>
</html>

